# Project exclude paths
/.gradle/
/build/
/local.properties
/android/release/
/android/local.properties
/common/build/
/commonCompose/build/
/desktop/build/
/.idea/artifacts/
/.idea/libraries/
**/build/
/browser/karma.config.d/moko-resources-generated.js
/browser/webpack.config.d/moko-resources-generated.js
/common/karma.config.d/moko-resources-generated.js
/common/webpack.config.d/moko-resources-generated.js
/commonCompose/karma.config.d/moko-resources-generated.js
/commonCompose/webpack.config.d/moko-resources-generated.js
/output/
/desktop/generated.conveyor.conf
/.idea/gradle.xml
/.idea/misc.xml
**/.DS_Store
/.kotlin/
