# Default ignored files
/shelf/
/workspace.xml
/deploymentTargetSelector.xml
/csv-editor.xml
/deploymentTargetDropDown.xml
/other.xml
/appInsightsSettings.xml
/caches/deviceStreaming.xml
/runConfigurations.xml
/scala_compiler.xml
