# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build for Ubuntu

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew createDistributable
    - name: Upload Logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: logs
        path: /Users/runner/work/SamloaderKotlin/SamloaderKotlin/desktop/build/compose/logs/
    - name: Upload DMG
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: Samsung Firmware Downloader
        path: /Users/runner/work/SamloaderKotlin/SamloaderKotlin/desktop/build/compose/binaries/main/app/Samsung Firmware Downloader/
